<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <center>
        <h1>Register</h1>
        <form action="/user/register" method="POST">
            <input type="text" id="" placeholder="Enter Your Name" name="name">
            <br><br>
            <input type="email" id="" placeholder="Enter Your Email" name="email">
            <br><br>
            <input type="password" id="" placeholder="Enter Your Password" name="password">
            <br><br>
            <input type="submit" id="" value="Submit">
        </form>

    </center>
</body>

</html>